{% extends "layout.html" %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='test.css') }}">
{% block content %}
    {% for item in posts %}
        <article class="media content-section">
          <div class="media-body">
            <p class="article-content">{{ item.start }}</p>
            <p class="article-content">{{ item.end }}</p>
            <p class="article-content">{{ item.year }}</p>
            <p class="article-content">{{ item.make }}</p>
            <p class="article-content">{{ item.model }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}