{% extends "layout.html" %} 
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='test.css') }}">
{% block content %}
{% for item in posts %} <!-- flask style of a for loop, loops over items in the database and displays them -->
<h3>
  Route Number {{item.id}}</h3>
  <article class="media content-section">
    <div class="media-body">
      <div class="row">
        <div class="col-md-6">
          <h4>From:</h4>
          <p class="article-content">{{ item.start }}</p>
          <h4>To:</h4>
          <p class="article-content">{{ item.end }}</p>
          <h4>Total Distance in Miles:</h4>
          <p class="article-content">{{ item.dist }}</p>
          <h4>Estimated Cost:</h4>
          <p class="article-content">{{ item.cost }}</p>
        </div>
        <div class="col-md-6">
          <h4>Car Information:</h4>
          <p class="article-content">{{ item.year }}</p>
          <p class="article-content">{{ item.make }}</p>
          <p class="article-content">{{ item.model }}</p>
          <h4>Miles Per Gallon:</h4>
        </div>
      </div>
    </div>
  </article>
  {% endfor %}
  {% endblock content %}